header {
  background: url("../../assets/images/Header.png") no-repeat;
  //-webkit-filter: brightness(40%);
  //filter: brightness(40%);
  .container {
    background: rgba(0, 0, 0, 0.7);
  }
}
.header_menu,
.header_search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.header_search_title {
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

.header_search-form {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header_menu {
  padding-top: 1.25rem;
}

.search_form {
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7.5rem;
  input {
    width: 36rem;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
    height: 2.5rem;
    font-size: 1rem;
  }
  .container-button {
    //width: 15%;
  }
}
