.card {
  color: white;
  .info-movie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .info p {
      width: fit-content;
    }
    .info {
      .info-movie_name {
        font-size: 1.25rem;
      }
    }
    .info-movie_realize-date {
      border: 1px solid;
      height: 1.2rem;
      border-radius: 5px;
    }
  }
}
