button {
  width: 11rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}
.pink-button {
  background-color: #f65261;
  color: white;
}

.dark-button {
  color: #f65261;
  background:rgba(0,0,0,0.3);
}
