.home-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3rem;
}

.home-menu_types {
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 0.6rem;
    text-decoration: none;
    font-size: 1rem;
    border-bottom: 0.2rem solid #424242;
  }

  a:hover {
    border-bottom: 0.2rem solid #f65261;
  }

  a.active {
    border-bottom: 0.2rem solid #f65261;
  }
}

.home-menu_adittion-types {
  .dropdown {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    padding-top: 0.96rem;
    margin-right: 1rem;
  }

  .dropdown .hover {
    color: white;
  }

  .dropdown .hover::after {
    content: "\25BC";
    font-size: 70%;
    color: #f65261;
  }
  .dropdown .list {
    display: none;
    width: calc(100% + 10px);
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    margin-left: -0.8rem;
    z-index: 10;
  }

  .dropdown .list a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .dropdown .list a:hover {
    color: #fdac7a;
  }

  .dropdown:hover .list {
    display: block;
  }

  .dropdown:hover .hover::after {
    content: "\25B2";
  }
}
