.main-list {
  padding-top: 1.25rem;
  margin: 0 3rem;
  .movies-count {
    color: white;
    width: fit-content;
  }

  .movies-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
      flex-grow: 1;
    }
  }
}
